@model aspnet_core_basic.ViewModels.HomeIndexViewModels
@{
    ViewBag.Title = "Home Page";  
    Layout = "~/Views/Shared/_Layout.cshtml";
    } 
    <h1>All Restaurants</h1>
<table>  
    
    @foreach(var item in Model.Restaurants) 
    {<tr> 
        <td>@item.Id</td> 
        <td>@item.Name</td> 
        <td><a href="/home/details/@item.Id">Details</a> 
      
        </td>  
        <td>
        @Html.ActionLink("GO", "Details",new{id=item.Id}) 
        </td> 
        <td><a asp-action="Details" asp-route-id="@item.Id">More</a>
        <a asp-page="/Restaurants/Edit" asp-route-id="@restaurant.id">Edit</a>
        </td>
    </tr>}
    
</table> 
<a asp-action="Create">Add Restaurant</a>
@section footer{
    <div> 
       <h1>@Model.CurrentMessage</h1>
    </div>
}